#top {
	margin-bottom: 10px;
	text-align: center;
}

.ui-layout-unit-content {
	background-color: #F9FBFE;
}

#logo{
	border-radius: 10px;
}

#footer {
	text-align: center;
}

#form {
	background-color: #EFF3F6;
	max-width: 900px;
}

.form-control {
	max-width: 500px;
}